<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
  </head>
  <body>
  <h1>Admin Page</h1>
  <h2>Subjects list</h2>
  <form class="" action="/admin/subjects" method="GET">
    <button type="submit" >Get current subjects</button>
  </form>
  <br>
  <form class="" action="/admin/tables" method="GET">
    <button type="submit" >Get current subjects</button>
  </form>
  <br>

  <form class="" action="/admin/subjects" method="POST">
    Enter Subject: <br>
    <input type="text" name="subjects" value=""><button type="submit" >SUBMIT</button>
  </form>
  <br>
  <form class="" action="/admin/tables" method="POST">
    Enter Table: <br>
    <input type="text" name="tables" value=""><button type="submit" >SUBMIT</button>
  </form>
  </body>
</html>
